.landingpage{
    padding: 25px 0;
}

.main-section{
    background-color: #03090f;
}

.main-section-content {
    margin: 25px 15px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.main-section-content h1{
    font-size: 28px;
    color: white;
    margin-bottom: 8px;
}   

.main-section-context-display-text{
    color: white;
}

@media screen and (min-width: 1366px) {
    .main-section-content{
        margin: 25px 12vw;
    }
}