header{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    background-color: #03090f;
}

.description-platform{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.NamePlatform{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px 10px 0;
    color: white;
    letter-spacing: 1px;
}

.navigation-area, .navigation-area-content, .navigation-area-content-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-item{
    list-style: none;
}

.navigation-link{
    text-decoration: none;
    color: white;
}

.navigation-area-content-subgroup{
    display: none;
}

.navigation-area-content-subgroup{
    flex-direction: column;
    position: absolute;
    margin-top: 15px;
    background-color: #03090f;
    padding: 8px;
    border-radius: 0 0 4px 4px;
}


.navigation-item-subgroup{
    color: white;
}

@media screen and (min-width: 1366px) {
    header{ 
        padding: 0 12vw;
    }
}